html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/hill.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    transition: background-color 0.3s;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

h1 {
    color: #FF0000;
    font-size: 24px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #8f8f8f;
}

input[type="file"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li a {
    text-decoration: none;
    color: #0056b3;
    font-size: 16px;
}

li a:hover {
    text-decoration: underline;
}
